@use "sass:color";
@use "../../../variables.scss" as *;

:host {
  display: block;
  flex-shrink: 0; // Impede que o footer encolha
}

.container {
  max-width: 1200px;
}

// Footer
footer.bg-dark {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba($terciary-color, 1) !important;
  // padding: 0 !important;
  // padding-bottom: 5px;

  // overflow: hidden;

  .icone {
    color: color.adjust($secondary-color, $lightness: -10%);
  }

  .text-footer {
    color: $white;
  }

  .social-links {
    a:hover {
      opacity: 0.8;
    }
  }

  .footer-credit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
  }

  .footer-decor {
    width: 30px;
    height: auto;
    opacity: 0.8;
  }

  .footer-decor-left{
    transform: rotate(-90deg);
  }

  .footer-decor-right {
    transform: scaleX(-1) rotate(-90deg);
  }

  @media (max-width: 768px) {
    .row {
      text-align: center;

      .col-md-4 {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }

        &.text-end {
          text-align: center !important;
        }
      }
    }

    h5 {
      font-size: 1.1rem;
    }

    small {
      font-size: 0.8rem;
    }
  }
}
