<app-simple-nav-bar></app-simple-nav-bar>


<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="polaroid">

        <div class="tape"></div>


        <div class="polaroid-body">

            <h3>Ops!</h3>

            <div class="descricao">
                Essa área ainda não foi liberada. Em breve o conteúdo estará disponível!
            </div>

        </div>

        <a routerLink="/" class="btn-voltar">
            Voltar ao início
        </a>


    </div>

</div>