<!-- Barra de Navegação -->
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container container-navbar">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <img class="image-active" src="assets/menu-ffff.svg" alt="Menu">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#detalhes">Detalhes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#historia">Nossa História</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#duvidas">Dúvidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/lista-presentes">Lista de Presentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/confirmacao">Confirmação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/regras">Regras</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
