@use "sass:color";
@use '../../../variables.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Container principal
section {
  flex: 1 0 auto;
  padding-top: 76px; // Altura da navbar
  // background-color: rgba($secondary-color, 0.2);
  background-image: url('/assets/images/elementos/folhagem.png');
  background-size: cover;
  background-position: center;
  background-position-y: 20px;
  background-repeat: no-repeat;
}

// Estilização dos cards
.card {
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  .texto-primary {
    color: $deep-accent;
  }
}

// Estilização do modal
.modal-content {
  border: none;
  border-radius: 8px;

  .texto-primary {
    color: $deep-accent;
  }
}

// Estilização dos botões
.btn {
  font-weight: 500;
  transition: all 0.3s ease;

  &.btn-primary {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
}

.botao-sucesso {
  background-color: $success-green;
  border-color: $success-green;
  color: $white;
}
