@use "sass:color";
@use "../../../variables.scss" as *;

// .carousel {
//   position: relative;
// }

.familia-scroll {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 1rem 0;
  align-items: center;
  // justify-content: center;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  scroll-behavior: smooth;
  scrollbar-width: none; // Firefox
}

.familia-scroll::-webkit-scrollbar {
  display: none; // Chrome/Safari
}

.card {
  text-align: center;
  background: $terciary-color;
  // border: 0;
  overflow: hidden;
  // height: 500px;
  height: 100%;
  max-width: 300px;
  // padding: 1rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: default;
  scroll-snap-align: center;

  &:hover {
    transform: scale(1.03);
  }

  img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
  }

  .card-body {
    padding: 15px;

    .card-title {
      font-family: $font-01;
      font-size: clamp(1.7rem, 3vw, 2rem);
      letter-spacing: 0.1em;
      color: $white;
    }

    .card-text {
      color: $light-black;
      font-family: $font-02;

      ::ng-deep .strong {
        color: $highlight-color;
      }
    }
  }
}

@media (min-width: 1100px) {
  .familia-scroll {
    justify-content: center;
  }
}
