@use "sass:color";
@use "../../../variables.scss" as *;

// Layout
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  &-navbar {
    padding: 0 20px;
  }
}

// Scroll behavior
html {
  scroll-padding-top: 70px;
  scroll-behavior: smooth;
}

// INICIO DA SESSÃO DO HERO
.hero {
  background-image: url("/assets/images/banner3.png");
  background-size: auto;
  background-position: calc(50% + 30px) calc(50% - 180px);

  // background-repeat: no-repeat;

  height: 70vh;
  max-height: 1000px;
  min-height: 250px;
  position: relative;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  align-items: center;

  // @media (max-width: 768px) {
  //   height: calc(100vh - 60px);
  // }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to top,
      rgba($text-dark, 0.8),
      rgba($highlight-color, 0.8) 50%,
      rgba($primary-color, 0.5),
      rgba($primary-color, 0.8),
      rgba($primary-color, 1)
    );
    z-index: 1;
  }

  // .monograma {
  // width: clamp(70px, 15vw, 100px);
  // height: auto;
  // z-index: 2;
  // margin-top: clamp(1px, 5vw, 90px);
  // margin-top: max(0px, calc(30px - 4vw));
  // }

  .container.titulo-container {
    margin-top: 100px;
    position: relative;
    z-index: 2;
    color: $white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1,
    p,
    .lead,
    .h5 {
      color: $white;
    }

    .titulo-principal {
      font-size: 7rem;
      margin-bottom: 1rem;
      font-family: $font-01;

      .nome,
      .e {
        display: inline;
      }
    }

    .subtitulo,
    .mensagem {
      font-family: $font-02;
      font-size: 1.75rem;
      margin-bottom: 1rem;
      letter-spacing: 0.2em;
    }
    .subtitulo {
      text-transform: uppercase;
    }

    .btn {
      position: relative;
      z-index: 2;
      color: $white;
      border-color: $white;

      &:hover {
        color: $highlight-color;
        background-color: $white;
        border-color: $white;
      }
    }

    @media (min-height: 400px) {
      margin-top: 0;
    }

    /* Tablets */
    @media (max-width: 992px) {
      .titulo-principal {
        font-size: 5rem;
      }

      .subtitulo,
      .mensagem {
        font-size: 1.4rem;
      }
    }

    /* Celulares */
    @media (max-width: 768px) {
      .titulo-principal {
        font-size: 3.5rem;
      }

      .subtitulo,
      .mensagem {
        font-size: 1.1rem;
        letter-spacing: 0.1em;
      }
    }

    /* Celulares pequenos */
    @media (max-width: 480px) {
      .titulo-principal {
        font-size: 2.7rem;
        line-height: 1.1;

        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1;

        .titulo-principal .e {
          margin: 0.1em 0;
        }
      }

      .subtitulo,
      .mensagem {
        font-size: 0.95rem;
        letter-spacing: 0.08em;
      }
    }
  }
}

@media (max-width: 768px) {
  .hero .hero-content {
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .countdown .countdown-item {
    margin: 0 1rem;
    .number {
      font-size: 2rem;
    }
  }
}
//  FIM

// INICIO DA SESSÃO DA CONTAGEM REGRESSIVA
.countdown-section {
  background-color: $background-very-light;
  padding-top: 0 !important;

  .monograma {
    width: clamp(70px, 15vw, 100px);
    height: auto;
    z-index: 2;
    // margin-top: clamp(1px, 5vw, 90px);
    // margin-top: max(0px, calc(30px - 4vw));
    margin-bottom: 10px;
  }

  .countdown-subtitle {
    font-family: $font-02;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    color: $text-dark;
  }

  .time-unit {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .number,
    .separator {
      font-family: $font-02;
      font-size: clamp(2.5rem, 6vw, 4rem);
      line-height: 1;
      color: $highlight-color;
    }

    .label {
      margin-top: 0.75rem;

      font-family: $font-02;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      font-size: 0.7rem;
      color: $text-dark;
    }
  }
}

// FIM

// INÍCIO DA DESSÃO HISTÓRIA (TIMELINE)
#historia {
  // background: linear-gradient(
  //   to bottom,
  //   $background-very-light,
  //   $primary-color,
  //   $background-very-light
  // );

  background-color: $primary-color;

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .titulo-sessao {
    color: $white;
  }
}
// FIM

// INÍCIO DA SESSÃO NOSSO LAR
#nosso-lar {
  background-color: $background-very-light;


  .titulo-sessao {
    color: $terciary-color;
  }
}

// FIM

// INÍCIO DA DESSÃO DETALHES (O CASAMENTO)
#detalhes {
  background-color: $terciary-color;

  .titulo-sessao {
    color: $white;
  }
  .card {
    background: $background-very-light;
    padding: 1rem;
    border-radius: 8px;
    // box-shadow: 0 2px 15px rgba($terciary-color, 0.5);
    transition: transform 0.3s ease;
    margin-bottom: 30px;
    text-align: center;
    cursor: default;

    .card-body {
      padding: 0;

      .bi-box-arrow-up-right {
        margin-left: 0.45rem;
      }
    }

    &:hover {
      transform: translateY(-2px);
    }

    i {
      color: $highlight-color;
      margin-bottom: 1rem;
    }

    .titulo-detalhes {
      color: $highlight-color;
      margin: 1rem 0;
      font-family: $font-01;
      // font-size: 2.5rem;
      font-size: clamp(2rem, 4vw, 2.5rem);
    }

    .conteudo-detalhes {
      color: rgba($highlight-color, 0.8);
      line-height: 1.6;
      margin: 0;
    }
  }
}
// FIM

// Estilização da seção de dúvidas frequentes
// #duvidas {
//   color: $text-dark;
//   font-family: $font-02;

//   .accordion {
//     .accordion-item {
//       background-color: $white;
//       border: 1px solid $border-color;
//       border-radius: 8px;
//       overflow: hidden;
//       margin-bottom: 1rem;

//       .accordion-header {
//         .accordion-button {
//           background-color: $primary-color;
//           color: $white;
//           font-size: 1.1rem;

//           &:focus {
//             box-shadow: none;
//           }

//           ::after {
//             filter: invert(1);
//           }
//         }
//       }

//       .accordion-collapse {
//         .accordion-body {
//           background-color: $white;
//           color: $light-black;
//         }
//       }
//     }
//   }

// Estilização da área de contato
//   .contato {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 2rem;

//     p {
//       font-size: 1.2rem;
//       color: $text-dark;

//       a {
//         text-decoration: none;
//         color: $highlight-color;
//         font-weight: bold;
//         margin-left: 5px;

//         &:hover {
//           color: $terciary-color;
//         }

//         i {
//           font-size: 1.4rem;
//           margin-left: 5px;
//         }
//       }
//     }
//   }
// }

// ########### STYLES GENERALIZADOS DA PÁGINA HOME ##########

// Sessões com decoração
.session-decorated {
  position: relative;

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    right: -50px;

    width: 250px;
    height: 250px;

    background: url("/assets/images/ativos/decoracao_2.png") no-repeat top right;
    background-size: contain;

    transform: scale(1.5);
    transform: rotate(60deg);

    pointer-events: none;
    z-index: 0;
    opacity: 0.7;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50px;

    width: 300px;
    height: 300px;

    background: url("/assets/images/ativos/decoracao_1.png") no-repeat bottom
      left;
    background-size: contain;

    transform: scale(1.5);

    pointer-events: none;
    z-index: 0;

    opacity: 0.7;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 992px) {
  .session-decorated {
    &::after,
    &::before {
      opacity: 0.4;
    }
  }
}

// Títulos de Sessão
.titulo-sessao {
  text-transform: uppercase;
  font-family: $font-02;
  font-size: 2rem;
  letter-spacing: 0.1em;
  font-weight: 400;
  margin-bottom: 2.5rem;
  text-align: center;
}
