<div class="timeline">


    @for(item of timelineItems; track $index){

    <div class="timeline-item" [class.left]="$even" [class.right]="$odd">

        <div class="timeline-dot">
            <i class="bi bi-heart-fill"></i>
        </div>

        <div class="timeline-card card border-0 shadow-sm" (click)="toggle($index)"
            [class.expanded]="expandedIndex === $index">

            <div class="tape"></div>

            @if(item.image){
            <img [src]="item.image" [alt]="item.title" class="card-img-top timeline-image">
            }

            <div class="card-body">

                <span class="timeline-date">
                    {{ item.date }}
                </span>

                <h3 class="timeline-title">
                    {{ item.title }}
                </h3>

                <div class="expand-indicator flex alig-itens-center justify-content-center">
                    <i class="bi" [class.bi-chevron-down]="expandedIndex !== $index"
                        [class.bi-chevron-up]="expandedIndex === $index">
                    </i>
                </div>

                <!-- @if(expandedIndex === $index){ -->
                <div class="card-text timeline-description mt-3"  [@expandCollapse]="expandedIndex === $index ? 'open' : 'closed'">
                    <div class="timeline-description-content" [innerHTML]="item.description"></div>
                </div>
                <!-- } -->

            </div>

        </div>

    </div>

    }

</div>