<div class="timeline">


    @for(item of timelineItems; track $index){

    <div class="timeline-item" [class.left]="$even" [class.right]="$odd">

        <div class="timeline-dot">
            <i class="bi bi-heart-fill"></i>
        </div>

        <div class="timeline-card card border-0 shadow-sm">

            @if(item.image){
            <img [src]="item.image" [alt]="item.title" class="card-img-top timeline-image">
            }

            <div class="card-body">

                <span class="timeline-date">
                    {{ item.date }}
                </span>

                <h3 class="timeline-title">
                    {{ item.title }}
                </h3>

                <div class="card-text timeline-description mt-3" [innerHTML]="item.description">
                </div>

            </div>

        </div>

    </div>

    }

</div>