@use "sass:color";
@use "../../../variables.scss" as *;

.timeline {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    background: #d8c6b0;
    top: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #d8c6b0;

    box-shadow:
      0 12px 0 #d8c6b0,
      0 24px 0 #d8c6b0,
      0 36px 0 #d8c6b0;
  }

}

.timeline-item:not(:first-child) {
  margin-top: -400px;
}
.timeline-card {
  max-width: 500px;
}

.timeline-item.left .timeline-card {
  margin-left: auto;
}

.timeline-item.right .timeline-card {
  margin-right: auto;
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 1rem 3rem;
  margin-bottom: 1rem;

  .timeline-dot {
    color: $terciary-color;
    position: absolute;
    font-size: larger;
    top: 30px;
    right: -10px;
    z-index: 2;
  }
}

.timeline-item.left {
  left: 0;
  text-align: justify;
}

.timeline-item.right {
  left: 50%;
  text-align: justify;
}

.timeline-item.right .timeline-dot {
  left: -10px;
}

.timeline-card {
  background: #FAF6EA;
  border-radius: 16px;
  padding: 1rem;
  padding-bottom: 0;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);

  .card-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .timeline-date {
    display: block;
    // font-size: 1rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    opacity: 0.7;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .timeline-title {
    margin-bottom: 0.7rem;
    text-align: center;
    font-size: 1.5rem;
  }
  .timeline-description {
    line-height: 1.8;
    color: #555;
    text-align: justify;
    font-size: 1rem;
    margin: 0;

    span {
      text-indent: 15px;
    }
  }
}

@media (max-width: 768px) {
  .timeline::before,
  .timeline::after {
    left: 15px;
  }

  .timeline-card .card-body {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .timeline-item {
    width: 100%;
    left: 0 !important;
    padding-right: 0;
    text-align: left !important;
    margin-top: 0 !important;
  }

  .timeline-dot {
    left: 6px !important;
    right: auto;
  }

  .timeline-title {
    font-size: 1.2rem !important;
  }
  .timeline-description {
    font-size: 0.8rem !important;
  }
}
