@use "sass:color";
@use '../../../variables.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Container principal
section {
  flex: 1 0 auto;
  padding-top: 76px; // Altura da navbar
}

.titulo {
  color: $primary-blue;
  font-size: 2rem;
  margin-bottom: 20px;
}

.card {
  border: 1px solid $primary-blue;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }

  .card-title, .card-subtitle {
    color: $primary-blue; // Use a secondary color for card titles
  }
}

.btn-dark {
  background-color: $primary-blue;
  border-color: $primary-blue;

  &:hover {
    background-color: color.adjust($primary-blue, $lightness: -10%);
  }
}

.btn-outline-dark {
  color: $primary-blue;
  border-color: $primary-blue;

  &:hover {
    color: $white;
    border: none;
    background-color: $primary-blue; // Lighten on hover
  }
}

// Additional styles from HTML
.modal-content {
  border-radius: 0.75rem; // rounded-3
  background-color: #fff; // Set background color
}

.modal-header {
  border: none; // border-0
}

.modal-footer {
  border-top: none; // border-top-0
  justify-content: center; // justify-content-center
}

.img-fluid {
  max-width: 50%; // max-width: 50%
  height: auto; // height: auto
}

.text-success {
  font-weight: bold; // font-weight-bold
}

.text-muted {
  color: #6c757d; // muted text color
}
