/* You can add global styles to this file, and also import other style files */
@use 'variables.scss' as *;

@font-face {
    font-family: 'Bellarina';
    src: url('assets/fonts/Bellarina.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
  color-scheme: light;
}

html,
body {
  background-color: $background-color;
}


.timeline-description p {
  margin: 0;
  text-indent: 2em;
}

.descricao li{
  margin-bottom: 0.4rem;
}