// Variáveis de cores globais
$primary-blue: #1a4b84;
$dark-blue: #1a1a1a;
$secondary-blue: #3474c5;
$light-blue: #e8f1ff;
$white: #ffffff;
$gray: #f5f5f5;
$light-black: #1a1a1a;
$dark-black: #000000;
$success-green: #a8e6cf; // Cor verde de sucesso mais suave
